@font-face {
  font-family: "Varta", sans-serif;
  src: local("Varta") url("../fonts/varta/Varta-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display") url("../fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
}
