$color-50: #edfff6;
$color-100: #d5ffed;
$color-200: #aeffdb;
$color-300: #70ffc0;
$color-400: #2bfd9e;
$color-500: #00ff8c;
$color-600: #00c065;
$color-700: #009652;
$color-800: #067544;
$color-900: #07603a;
$color-950: #00371f;
