@import "./_global";
@import "./fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-block: 0;
  margin-block: 0;
  padding-inline: 0;
  margin-inline: 0;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  outline: 0;
  background-color: transparent;
}

button,
label {
  font: inherit;
}

ul,
li {
  list-style: none;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Varta", sans-serif;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100%;
}

main {
  padding: 50px 0;
}

img {
  display: block;
  vertical-align: top;
}
